main.ko
a.out
main.o
main.mod
main.mod.c
main.mod.o
.module-common.o
modules.order
Module.symvers

.main.ko.cmd
.main.mod.cmd
.main.mod.o.cmd
.main.o.cmd
..module-common.o.cmd
.modules.order.cmd
.Module.symvers.cmd
*.o